@tailwind base;
@tailwind components;
@tailwind utilities;

/* updated color palette */
/* Color Theme Swatches in Hex */
.Blue-Sky-1-hex {
    color: #001F30;
}

.Blue-Sky-2-hex {
    color: #005078;
}

.Blue-Sky-3-hex {
    color: #008EB5;
}

.Blue-Sky-4-hex {
    color: #22CDD6;
}

.Blue-Sky-5-hex {
    color: #F7FFFE;
}

/* Color Theme Swatches in RGBA */
.Blue-Sky-1-rgba {
    color: rgba(0, 30, 48, 1);
}

.Blue-Sky-2-rgba {
    color: rgba(0, 79, 119, 1);
}

.Blue-Sky-3-rgba {
    color: rgba(0, 141, 181, 1);
}

.Blue-Sky-4-rgba {
    color: rgba(34, 205, 214, 1);
}

.Blue-Sky-5-rgba {
    color: rgba(247, 255, 253, 1);
}

/* Color Theme Swatches in HSLA */
.Blue-Sky-1-hsla {
    color: hsla(0, 100, 9, 1);
}

.Blue-Sky-2-hsla {
    color: hsla(0, 100, 23, 1);
}

.Blue-Sky-3-hsla {
    color: hsla(0, 100, 35, 1);
}

.Blue-Sky-4-hsla {
    color: hsla(0, 72, 48, 1);
}

.Blue-Sky-5-hsla {
    color: hsla(0, 100, 98, 1);
}


@layer components {
    h1, h2, h3, h4, h5, h6 {
        font-family: theme('fontFamily.roboto') !important
    }

    label, input {
        font-family: theme('fontFamily.monts') !important;
        font-weight: 500;
    }

    p, span {
        font-family: theme('fontFamily.monts') !important;
    }

    .btn-delete {
        box-shadow: none !important;
        border: none !important;
    }

    .login-title {
        color: theme('colors.white') !important;
        letter-spacing: theme('letterSpacing.wider') !important;
        font-size: 7rem !important;
    }

    .login-title-mobile {
        color: theme('colors.sky.800') !important;
        letter-spacing: theme('letterSpacing.widest') !important;
        font-size: 2.5rem !important;
    }

    .lg-login-title {
        color: theme('colors.white') !important;
        letter-spacing: theme('letterSpacing.wider') !important;
        font-size: 4rem !important;
    }

    .xl-login-title {
        color: theme('colors.white') !important;
        letter-spacing: theme('letterSpacing.wider') !important;
        font-size: 5rem !important;
    }

    .btn-delete:hover {
        background-color: theme('colors.red.600') !important;
    }

    /* scrollbar */
    /* width */
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: theme('colors.sky.400');
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .booking-form-item {
        margin-bottom: 0px !important;
    }

    .time-range-picker-popup .ant-picker-range-wrapper .ant-picker-panel-container .ant-picker-panel-layout div .ant-picker-footer ul li button {
        background-color: theme('colors.sky.700') !important;
        color: white !important;
        box-shadow: none !important;
    }
}