@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1, h2, h3, h4, h5, h6 {
        font-family: theme('fontFamily.roboto') !important
    }

    label, input {
        font-family: theme('fontFamily.monts') !important;
        font-weight: 500;
    }

    p, span {
        font-family: theme('fontFamily.monts') !important;
    }

    .login-title {
        color: theme('colors.white') !important;
        letter-spacing: theme('letterSpacing.wider') !important;
        font-size: 7rem !important;
    }

    .login-title-mobile {
        color: theme('colors.sky.800') !important;
        letter-spacing: theme('letterSpacing.widest') !important;
        font-size: 2.5rem !important;
    }

    .lg-login-title {
        color: theme('colors.white') !important;
        letter-spacing: theme('letterSpacing.wider') !important;
        font-size: 4rem !important;
    }

    .xl-login-title {
        color: theme('colors.white') !important;
        letter-spacing: theme('letterSpacing.wider') !important;
        font-size: 5rem !important;
    }

    .btn-delete:hover {
        background-color: theme('colors.red.600') !important;
    }

    /* scrollbar */
    /* width */
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: theme('colors.sky.400');
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .booking-form-item {
        margin-bottom: 0px !important;
    }
}